<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>learnMore</title>
  <link rel="stylesheet" type="text/css" href="../../public/css/normalize.css" />
  <!--CSS RESET-->
  <link rel="stylesheet" type="text/css" href="../../public/css/htmleaf-demo.css">
  <!--演示页面样式，使用时可以不引用-->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css'>
  <link rel="stylesheet" href="../../public/css/learnMore.css">
</head>

<body>
  <div class="htmleaf-container">
    <h1><a href="/" style="text-decoration: none;">GOBACK</a></h1>
    <div class='pages'>
      <input id='one' name='trigger' type='radio'>
      <input id='two' name='trigger' type='radio'>
      <input id='three' name='trigger' type='radio'>
      <input id='four' name='trigger' type='radio'>
      <div class='pages_page'>
        <div class='pages_page__inner'>
          <div class='logo'>cjh</div>
          <div class='pagenumber'>1 2</div>
          <div class='content'>
            <div class='content_center'>
              <h4>talk is cheap &amp; show me the code</h4>
            </div>
          </div>
        </div>
      </div>
      <div class='pages_page'>
        <div class='pages_page__inner'>
          <div class='content'>
            <div class='content_center right'>
              <h4>talk is cheap &amp; show me the code</h4>
            </div>
            <div class='overlay'></div>
          </div>
          <div class='control next'>
            <label for='two'></label>
          </div>
        </div>
      </div>
      <div class='pages_page'>
        <div class='pages_page__inner'>
          <div class='logo'>cjh</div>
          <div class='pagenumber'>2 3</div>
          <div class='control'>
            <label for='one'></label>
          </div>
          <div class='content'>
            <div class='content_picture'>
              <img src='../../public/img/kebe.jpeg'>
            </div>
            <div class='content_offset'>
              <h2>....</h2>
              <p>帅就完事了</p>
            </div>
            <h1>
              <span>W</span>
              <span>H</span>
              <span>A</span>
              <span>T</span>
              <span>&nbsp;</span>
              <span>C</span>
              <span>A</span>
              <span>N</span>
              <span>&nbsp;</span>
              <span>I</span>
              <span>&nbsp;</span>
              <span>S</span>
              <span>A</span>
              <span>Y</span>
              <span>&nbsp;</span>
              <span>?</span>
              <br>
              <br>
              <span>M</span>
              <span>a</span>
              <span>m</span>
              <span>B</span>
              <span>a</span>
              <span>&nbsp;</span>
              <span>O</span>
              <span>U</span>
              <span>T</span>
              <span>&nbsp;</span>
              <span>!!!</span>
            </h1>
          </div>
        </div>
      </div>
      <div class='pages_page'>
        <div class='pages_page__inner'>
          <div class='hamburger'>
            <div class='hamburger_part'></div>
            <div class='hamburger_part'></div>
            <div class='hamburger_part'></div>
          </div>
          <div class='control next'>
            <label for='three'></label>
          </div>
          <div class='bg'></div>
          <div class='footer'>
            <i class=" fab fa-google-plus-g"></i>
            <i class="fas fa-retweet"></i>
            <i class="far fa-heart"></i>
            <i class="far fa-share-square"></i>
          </div>
          <div class='content'>
            <div class='content_quote'>
              <h5>
                <span class='quo'>
                  <i>"</i>
                </span>
                <span>Kobe-----</span>
                <span>----Bryant</span>
                <span class='quo'>
                  <i>"</i>
                </span>
              </h5>
            </div>
            <div class='content_picture'>
              <img src='../../public/img/kebe.jpeg'>
            </div>

          </div>
        </div>
      </div>
      <div class='pages_page'>
        <div class='pages_page__inner'>
          <div class='logo'>cjh</div>
          <div class='pagenumber'>4 5</div>
          <div class='content'>
            <div class='content_center'>
              <h4>Cleveland---This is for you</h4>
            </div>
          </div>
          <div class='control'>
            <label for='two'></label>
          </div>
        </div>
      </div>
      <div class='pages_page'>
        <div class='pages_page__inner'>
          <div class='hamburger'>
            <div class='hamburger_part'></div>
            <div class='hamburger_part'></div>
            <div class='hamburger_part'></div>
          </div>
          <div class='control next'>
            <label for='four'></label>
          </div>
          <div class='bg'></div>
          <div class='content_centerimage'>
            <img src='../../public/img/james.jpg'>
          </div>
          <div class='content'>
            <div class='content_center right'>
              <h4>Cleveland---This is for you</h4>
            </div>
          </div>
          <div class='footer'>
            <i class="fab fa-google-plus-g"></i>
            <i class="fas fa-retweet"></i>
            <i class="far fa-heart"></i>
            <i class="far fa-share-square"></i>
          </div>
        </div>
      </div>
      <div class='pages_page'>
        <div class='pages_page__inner'>
          <div class='logo'>cjh</div>
          <div class='pagenumber'>6 7</div>
          <div class='content'>
            <div class='content_section'>
              <h2>LEBRON</h2>
              <p>詹姆斯兑现了自己的诺言，带领球队帮助克利夫兰拿下队史首座总冠军奖杯，这是NBA总决赛历史上第一次实现1-3大逆转。而克利夫兰这座城市，也在时隔52年之后，再次获得主流职业体育联赛的冠军。</p>
            </div>
            <div class='content_section'>
              <h2>JAMES</h2>
              <p>赛后，泣不成声的詹姆斯在接受记者采访的时候大喊了一句：Cleveland，this is for you！这一句，代表着詹姆斯这6年来甚至13年来的心声！</p>
            </div>
            <div class='content_section'>
              <h2>这一天等太久了</h2>
            </div>
          </div>
          <div class='control'>
            <label for='three'></label>
          </div>
        </div>
      </div>
      <div class='pages_page'>
        <div class='pages_page__inner'>
          <div class='hamburger'>
            <div class='hamburger_part'></div>
            <div class='hamburger_part'></div>
            <div class='hamburger_part'></div>
          </div>
          <div class='bg'></div>
          <div class='content'></div>
          <div class='footer'>
            <i class="fab fa-google-plus-g"></i>
            <i class="fas fa-retweet"></i>
            <i class="far fa-heart"></i>
            <i class="far fa-share-square"></i>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>

</html>